%h1 Items#index
%p Find me in app/views/items/index.html.erb

- if user_signed_in?
  = link_to new_item_path, method: :get do
    %div.item#new

- items.each do |item|
  %div.item
    = image_tag item.photo.url(:medium)
    = item.title